USE [master]
GO
/****** Object:  Database [POS_System]    Script Date: 10/20/2018 2:42:40 PM ******/
CREATE DATABASE [POS_System]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'POS_System', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\POS_System.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'POS_System_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\POS_System_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [POS_System].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [POS_System]
GO
/****** Object:  Table [dbo].[product_uoms]    Script Date: 10/20/2018 2:42:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_uoms](
	[product_id] [int] NULL,
	[category_id] [int] NULL,
	[unit_cost] [float] NULL,
	[sell_price] [float] NULL,
	[discount] [float] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[products]    Script Date: 10/20/2018 2:42:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
	[product_code] [varchar](50) NULL,
	[description] [varchar](50) NULL,
 CONSTRAINT [PK_products] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[uoms]    Script Date: 10/20/2018 2:42:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[uoms](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
 CONSTRAINT [PK_uoms] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[product_uoms]  WITH CHECK ADD  CONSTRAINT [FK_product_uoms_products] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[product_uoms] CHECK CONSTRAINT [FK_product_uoms_products]
GO
ALTER TABLE [dbo].[product_uoms]  WITH CHECK ADD  CONSTRAINT [FK_product_uoms_uoms] FOREIGN KEY([category_id])
REFERENCES [dbo].[uoms] ([id])
GO
ALTER TABLE [dbo].[product_uoms] CHECK CONSTRAINT [FK_product_uoms_uoms]
GO
USE [master]
GO
